<div class="box">       
  <td><%= link_to community.name, community %></td>
        <td><%= community.about %></td>
        <td><%= community.link %></td>
        <td><%= community.rss_feed %></td>
</div>